* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 8px 10px;
  align-items: center;
  background-color: #f3f4f6;
}
.logo {
  width: 40px;
}
.search {
  display: flex;
  /* position: relative; */
  background: white;
  align-items: center;
}
.search input {
  padding: 10px;
  width: 85%;
  box-sizing: border-box;
  outline: none;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  /* border-radius: 45px; */
}
.search img {
  width: 20px;
  margin-left: 8px;
}
.user img {
  width: 35px;
}
